.App {
	/* padding: 0 50px; */
	margin: 0 auto;
	max-width: 1400px;
	width: 100%;
}
.content {
	display: flex;
	justify-content: space-between;
}
.header__icon {
	width: 100px;
}
.header, .nav {
	background-color: blueviolet;
}
.page {
	width: 100%;
	background-color: azure;
}
.page__profile-user {
	display: flex;

}